*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.class
{
    width: 100%;
}

.class .trending
{
    width: 100%;
    padding: 20px 30px;
}

.class .trending .container
{
    max-width: 100%;
    display: flex;
}

.class .trending .container .left_box
{
    padding: 10px 20px;
    width: 75%
}

.class .trending .container .left_box .header
{
    display: flex;
    max-width: 100%;
    padding:10px 10px;
    background-color: #f6f7f8;
    justify-content: space-between;
}

.class .trending .container .left_box .header .heading h2
{
    font-size: 18px;
    text-transform: uppercase;
    color:#232323;
    margin-top: 5px;
    cursor: pointer;
}

.class .trending .container .left_box .header .heading h2:hover
{
    color:#27aae2;
}

.class .trending .container .left_box .cate
{
    display: flex;
    margin-top: 5px;
}

.class .trending .container .left_box .cate h3
{
    font-size: 20px;
    text-transform: capitalize;
    color:#232323;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 15px;
}

.class .trending .container .left_box .cate h3:hover
{
    color:#27aae2;
}

.class .trending .container .left_box .cate p
{
    font-size: 20px;
    color:#232323;
    margin-right: 15px;
}

.class .trending .container .left_box .subject
{
    max-width: 100%;
}

/*.class .trending .container .left_box .subject .container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
}*/

.class .trending .container .left_box .subject .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1px;
    margin-bottom: 1px;
}

.class .trending .container .left_box .subject .container .box
{
    width: 200px;
    height: 390px;
    border: 4px solid #f6f7f8;
    margin-top: 20px;
    margin-left: auto;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.class .trending .container .left_box .subject .container .box .img_box
{
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    object-fit: cover;
}

.class .trending .container .left_box .subject .container .box .img_box .icon
{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin-left: 35px;
}

.class .trending .container .left_box .subject .container .box:hover .img_box .icon
{
    margin-left: -10%;
}

.class .trending .container .left_box .subject .container .box:hover .img_box .icon .icon_box
{
    color: #cd1e76;
}

.class .trending .container .left_box .subject .container .box .info
{
    padding: 10px 10px;
    margin-left: 10px;
}

.class .trending .container .left_box .subject .container .box .info .info-subject
{
    display: flex;
    justify-content: space-around;
}

.class .trending .container .left_box .subject .container .box .info .info-subject h3
{
    text-transform: uppercase;
    font-size: 18px;
    color:#27aae2;
    font-weight: 600;
    letter-spacing: 1px;
}

.class .trending .container .left_box .subject .container .box .info .info-subject span
{
    text-transform: uppercase;
    font-size: 18px;
    color: #232323;;
    font-weight: 600;
    letter-spacing: 1px;
}


.class .trending .container .left_box .subject .container .box .info .info-price
{
    display: flex;
    justify-content: space-between;
}

.class .trending .container .left_box .subject .container .box .info .info-price span
{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
}


.class .trending .container .left_box .subject .container .box .info .info-price p
{
    color: #ED7145;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.class .trending .container .left_box .subject .container .box .info .btn
{
    margin-top: 10px;
    align-items: center;
    padding: 5px 20px;
    margin-left: 20px;
    border: none;
    background: #fed700;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    color: #232323;
}

.class .trending .container .left_box .subject .container .box .info .btn:hover
{
    color:#27aae2;
}

