.form_detail_date .container
{
    height:fit-content;
    position: fixed;
    top: 30%;
    left: 40%;
    background: rgb(175, 173, 173);
    border:3px solid #f6f7f8;
    box-shadow: rgba(104, 76, 76, 0.24) 0px 4px 10px;
    padding: 20px, 15px;
    z-index: 20;
    border-radius: 10px;
    transition: 0.5s;
}

.form_detail_date .container .close_btn
{
    border:none;
    outline: none;
    background: none;
    color:#232323;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.form_detail_date .container .close_btn:hover
{
    color:#fed600
}

.form_detail_date .container h2
{
    text-align: center;
    color:#232323;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 10px;
}

.form_detail_date .container .form
{
    padding: 20px 20px;
    flex: 1;
}

.form_detail_date .container .form input, .form_detail_date .container .form select
{
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
}




.form_detail_date .container .form .input_subject,
.form_detail_date .container .form .input_grade,
.form_detail_date .container .form .input_date,
.form_detail_date .container .form .input_active
{
    margin-top: 10px;
    display: flex;
    margin-top: 20px;
    max-width: 100%;
}

.form_detail_date .container .form .input_subject label,
.form_detail_date .container .form .input_grade label,
.form_detail_date .container .form .input_date label,
.form_detail_date .container .form .input_active label
{
    font-size: 20px;
    color:#232323;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}



.form_detail_date .container .form .input_subject select,
.form_detail_date .container .form .input_grade select,
.form_detail_date .container .form .input_active select
{
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    max-width: 100%;
}

.form_detail_date .container .form .btn_add 
{
    max-height: fit-content;
}

.form_detail_date .container .form .btn_add button
{
    border: none;
    padding:5px 20px;
    margin-left: 45%;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 25px;
    cursor: pointer;
    background-color: #fed600;
    transition: 0.5s;
}

.form_detail_date .container .form .btn_add button:hover
{
    color:#cd1e76;
}

.form_detail_date .container .form .input_date h3
{
    margin-top: 10px;
    font-size: 20px;
}

.form_detail_date .burForm
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.5;
    z-index: 10;
}