*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.home
{
    width: 100%;
    box-sizing: border-box;
}

.home .trending
{
    width: 100%;
    padding: 20px 30px;
}

.home .trending .container
{
    width: 100%;
}

.home .trending .container .left_box
{
    padding: 10px 20px;
    width: 75%;

}

.home .trending .container .left_box .header
{
    display: flex;
    max-width: 100%;
    padding:10px 10px;
    background-color: #f6f7f8;
    justify-content: space-between;
}

.home .trending .container .left_box .header .heading h2
{
    font-size: 18px;
    text-transform: uppercase;
    color:#232323;
    margin-top: 5px;
    cursor: pointer;
}

.home .trending .container .left_box .header .heading h2:hover
{
    color:#27aae2;
}

.home .trending .container .left_box .cate
{
    display: flex;
    margin-top: 5px;
}

.home .trending .container .left_box .cate h3
{
    font-size: 20px;
    text-transform: capitalize;
    color:#232323;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 15px;
}

.home .trending .container .left_box .cate h3:hover
{
    color:#27aae2;
}

.home .trending .container .left_box .cate p
{
    font-size: 20px;
    color:#232323;
    margin-right: 15px;
}

.home .trending .container .left_box .subject
{
    max-width: 100%;
}

/*.home .trending .container .left_box .subject .container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
}*/

.home .trending .container .left_box .subject .container 
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1px;
    margin-bottom: 1px;
    flex-wrap: wrap;

}

.home .trending .container .left_box .subject .container .box
{
    width: 210px;
    height: fit-content;
    border: 4px solid #f6f7f8;
    margin-top: 20px;
    margin-left: auto;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;

}

.home .trending .container .left_box .subject .container .box .img_box
{
    display: flex;
    margin-top: 30px;
    cursor: pointer;
    object-fit: cover;
}

.home .trending .container .left_box .subject .container .box .img_box .icon
{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin-left: 35px;
}

.box .educationType
{
    position: absolute;
    top: 0;
    right: 0; 
    margin: 1px;
    color: rgba(255, 255, 255, 0.9); 
    padding: 5px;
    border-radius: 10px; 
    z-index: 10;
}

.home .trending .container .left_box .subject .container .box:hover .img_box .icon
{
    margin-left: -10%;
}

.home .trending .container .left_box .subject .container .box:hover .img_box .icon .icon_box
{
    color: #cd1e76;
}

.home .trending .container .left_box .subject .container .box .info
{
    padding: 10px 10px;
    margin-left: 10px;
}

.home .trending .container .left_box .subject .container .box .info .info-subject
{
    display: flex;
    justify-content: space-around;
}

.home .trending .container .left_box .subject .container .box .info .info-subject h3
{
    text-transform: uppercase;
    font-size: 18px;
    color:#27aae2;
    font-weight: 600;
    letter-spacing: 1px;
}

.home .trending .container .left_box .subject .container .box .info .info-subject span
{
    text-transform: uppercase;
    font-size: 18px;
    color: #232323;;
    font-weight: 600;
    letter-spacing: 1px;
}


.home .trending .container .left_box .subject .container .box .info .info-price
{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.home .trending .container .left_box .subject .container .box .info .info-price span
{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
}


.home .trending .container .left_box .subject .container .box .info .info-price p
{
    color: #ED7145;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}


.home .trending .container .left_box .subject .container .box .info .addTocart
{
    align-items: text;
    text-align: center;
    width: 100%;
}


.home .trending .container .left_box .subject .container .box .info .addTocart button
{
    align-items: center;
    padding: 5px 20px;
    border: none;
    background: #fed700;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    color: #232323;
}

.home .trending .container .left_box .subject .container .box .info .addTocart .btn-disable
{
    align-items: center;
    padding: 5px 20px;
    border: none;
    background: gray;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}


.home .trending .container .left_box .subject .container .box .info .addToCart button:hover
{
    color:#27aae2;
}
/* 
@media screen and (max-width: 414px)
{
    .home .trending
    {
        width: 80vh;
    }
    
    .home .trending .container .left_box 
    {
        width: 100%;
    }

    .home .trending .container .left_box .subject .container    
    {
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    }
}

@media screen and (max-width: 360px)
{
    .home .trending
    {
        width: 118vh;
    }
    
    .home .trending .container .left_box 
    {
        width: 100%;
    }

    .home .trending .container .left_box .subject .container    
    {
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    }
}

 
@media screen and (min-width: 445px) and (max-width: 480px)
{
    .home .trending
    {
        width: 118vh;
    }
    
    .home .trending .container .left_box 
    {
        width: 100%;
    }

    .home .trending .container .left_box .subject .container    
    {
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    }
}
 
@media only screen and (max-width: 768px) 
{
    .home .trending
    {
        width: 118vh;
    }
    
    .home .trending .container .left_box 
    {
        width: 100%;
    }

    .home .trending .container .left_box .subject .container    
    {
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    }
} */

@media (max-width: 1200px) 
    {
    .home .trending .container .left_box .subject .container 
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .home .trending .container .left_box 
    {
        width: 100%;
    }

} 

@media (max-width: 800px) 
    {
    .home .trending .container .left_box .subject .container 
    {
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media (max-width: 500px) 
    {
    .home .trending .container .left_box .subject .container 
    {
        grid-template-columns: repeat(1, 1fr);
    }

} 
