*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header
{
   width: 100%;
}

.header .top_header
{
    max-width: 100%;
    padding: 10px 10px;
    background-color: #f6f7f8;
}

.header .top_header .info
{
    display: flex;
    justify-content: space-between;
    max-width:  100%;
}

.header .top_header .info .icon
{
    margin-left: 20px;
    color:#8a8a8a;
    font-size: 20px;
}

.header .top_header .info span
{
    margin-left: 10px;
    color: #8a8a8a;
}

.header .top_header .userDropdown
{
    width: fit-content;
}

.header .top_header .info .userDropdown .userImg 
{
    display: flex;
    cursor: pointer;
}

.header .top_header .info .userDropdown .userImg:hover
{
    color: #27aae2;
}


.header .top_header .info .userDropdown .userImg img
{
    border-radius: 50%;
    outline: none;
    border: none;
    width: 35px;
    height: 35px;
}

.header .top_header .info .userDropdown .userImg h3
{
    margin-top: 8px;
    margin-left: 15px;
}

.header .top_header .info .userDropdown .userSetting
{
    background-color: #f5f6f7f8;
    position: fixed;   
    border-radius: 10px;
    right: 5%;
    transition: 0.5s;
}

.header .top_header .info .userDropdown .userSetting ul
{
    list-style-type: none;
}

.header .top_header .info .userDropdown .userSetting li
{
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    display: flex;
    color: #232323;
}

.header .top_header .info .userDropdown .userSetting li:hover
{
    background-color: #9baab8;
    border-radius: 5px;
}

.header .top_header .info .userDropdown .userSetting .info
{
    margin-top: 5px;
}


.header .top_header .info .userDropdown .userSetting .info a
{
    text-decoration: none;
    color: #232323;
}

.header .top_header .info .userDropdown .userSetting .info a:hover
{
    color:#fed700;
}


.header .top_header .info .userDropdown .userSetting .cartHistory
{
    margin-top: 3px;
}

.header .top_header .info .userDropdown .userSetting .cartHistory a
{
    text-decoration: none;
    color: #232323;
}

.header .top_header .info .userDropdown .userSetting .cartHistory a:hover
{
    color:#fed700;
}

.header .top_header .info .userDropdown .userSetting .icon
{
    font-size: 16px;
    margin-right: 10px;
}

.header .top_header .info .userDropdown .userSetting .btn button
{
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    background: none;
    border: none;
    color: #232323;
    cursor: pointer;
}

.header .top_header .info .userDropdown .userSetting .btn button:hover
{
    color:#fed700
}


.header .mid_header 
{
    display: flex;
    padding: 10px 40px;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #27aae2;
}

.header .mid_header .logo img
{
    width: 80px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
}

.header .mid_header .searchBox
{
    margin-top: 10px;
    display: flex;
    place-items: center;
}

.header .mid_header .searchBox input
{
    padding: 10px 10px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    border:none;
    transition: 0.5s;
    background: #ddd;
}

.header .mid_header .searchBox input:hover
{
    width: 260px;
}

.header .mid_header .searchBox button
{
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    outline: none;
    width: 50px;
    background: #27aae2;
    color:#fff;
    cursor: pointer;
    margin-right: 30px;
    font-weight: 600;
}

.header .mid_header .searchBox button:hover
{
    background: #fed700;
    color:#27aae2;
}

.header .top_header .userActive
{
    margin-top: 10px;
    display: flex;
    place-items: center;
    cursor: pointer;
    color:#232323;
    cursor: pointer;
}

.header .mid_header .userActive:hover
{
    color:#27aae2
}

.header .top_header .userActive .btn
{
    display: flex;
}

.header .top_header .userActive .btn button
{
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    background: none;
    border: none;
    color: #232323;
    cursor: pointer;
    margin:0 10px
}

.header .top_header .userActive .btn button:hover
{
    color:#27aae2
}

.header .top_header .userActive b{
    margin-left: 10px;
    margin-right: 10px;
}

.header .mid_header .cartList 
{
    margin-top: 20px;
    cursor: pointer;
    display: flex;
}

.header .mid_header .cartList:hover
{
    color:#27aae2;
}

.header .top_header .cartList a svg
{
    margin-top: 30px;
}

.header .mid_header .cartList span
{
    color: #232323;
    padding: 5px;
    background: orange;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    color:red;
}

/* @media screen and (max-width: 414px) 
{
    .header {
      width: 80vh;
    }
}

@media only screen and (max-width: 360px) 
{
    .header {
        width: 10px;
    }
}

@media screen and (min-width: 414px) and (max-width: 480px)
{
    .header {
        width: 195vw;
    }
}

@media only screen and (max-width: 768px) 
{
    .header {
        width: 120vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px)
{
    .header {
        width: 270vw;
    }
} */

@media (max-width: 1200px) 
{
    .header 
    {
        width: 98vw;
    }
} 

@media (max-width: 950px) 
{
    .header 
    {
        width: 95.5vw;
    }

    .top_header .info .icon
    {
        width: 580px;
    }

    .top_header .info .icon span
    {
        font-size: 19px;
    }

    .top_header .info .userActive .icon 
    {
        width: 10px;
        margin-right: 10px;
    }

    .top_header .info .userActive b
    {
        width: 5px;
    }

    .top_header .info .userActive .btn
    {
        width: 105px;
    }
    
    .top_header .info .userActive .btn button
    {
        font-size: 15px;
    }

    .top_header .info .userDropdown .userSetting
    {
        width: 195px;
        z-index: 99;
        left: 77%;
    }

    .top_header .info .userDropdown .userSetting ul li .icon
    {
        width: 30px;
    }
    
} 

@media (max-width: 650px) 
{
    .header 
    {
        width: 94.5vw;
    }

    .header .top_header .info 
    {
        display: block;
    }

    .header .top_header .info .icon
    {
        padding: 5px;
        width: 100%;
    }
    
    .header .top_header .info .userActive .icon
    {
        width: fit-content;
    }

    .header .top_header .info .userActive 
    {
        justify-content: center;
    }

    .top_header .info .userDropdown
    {
        max-width: 100%;
        width: 560px;
        display: flex;
        justify-content: right;    
    }

    .top_header .info .userDropdown .userImg
    {
        text-align: center;
    }

    .top_header .info .userDropdown .userSetting
    {
        width: 195px;
        z-index: 99;
        left: 65%;
        top: 11%;
    }
}

@media (max-width: 633px)
{
    .header .top_header .info .icon span
    {
        font-size: 18px;
    }
}

@media screen and (min-width: 505px) and (max-width: 605px)
{
    .header .top_header .info .icon span
    {
        font-size: 15px;
    }
}

@media (max-width: 500px) 
{
    .header 
    {
        width: 94vw;
    }
    .header .top_header .info
    {
        display: block;
        margin-bottom: 10px;
    }

    .header .top_header .userDropdown
    {
        float: right;
    }

    .header .mid_header 
    {
        padding: 0;
        width: 100%;
    }
    
    .header .mid_header .cartList
    {
        margin-left: 15px;
        margin-top: 15px;

    }
} 
